<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
      <key>method</key>
      <string>app-store</string>
      <key>signingStyle</key>
      <string>manual</string>
      <key>teamID</key>
      <string>CMG3V3T59A</string>
      <key>uploadSymbols</key>
      <true/>
      <key>compileBitcode</key>
      <false/>
      <key>thinning</key>
      <string>none</string>
      <key>destination</key>
      <string>export</string>
      <key>provisioningProfiles</key>
      <dict>
          <key>org.groestlcoin.bluewallet123</key>
          <string>match AppStore org.groestlcoin.bluewallet123</string>
          <key>org.groestlcoin.bluewallet123.watch</key>
          <string>match AppStore org.groestlcoin.bluewallet123.watch</string>
          <key>org.groestlcoin.bluewallet123watch.extension</key>
          <string>match AppStore org.groestlcoin.bluewallet123.watch.extension</string>
          <key>org.groestlcoin.bluewallet123.Stickers</key>
          <string>match AppStore org.groestlcoin.bluewallet123.Stickers</string>
          <key>org.groestlcoin.bluewallet123.MarketWidget</key>
          <string>match AppStore org.groestlcoin.bluewallet123.MarketWidget</string>
      </dict>
  </dict>
</plist>
